@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
p,
ul,
li {
  @apply text-gray-300;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: clamp(20rem, 100vw, 70rem);
}

.heading {
  @apply text-3xl font-extrabold flex items-center text-gray-300 border-b border-mine-shaft-solid pb-2 tracking-tight text-gray-300;
}

.about__p {
  @apply mt-2 lg:mt-6 text-gray-300;
  max-width: 70ch;
}

.job {
  @apply mb-12;
}

.job__title {
  @apply text-lg font-extrabold mb-1 text-transparent tracking-tight bg-clip-text bg-gradient-to-br from-surfie-green to-cyan;
}

.job__date {
  @apply text-sm mb-4;
}

.job p:not(.job__date) {
  @apply mb-4;
  max-width: 70ch;
}

.tags {
  @apply flex flex-wrap gap-2;
}

.tag {
  @apply bg-mine-shaft-solid text-gray-300 text-xs px-3 py-2 rounded;
}
